<!DOCTYPE html>
<html lang="en" ng-app="admin">>
<head>
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../css/custom_input.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Library</title>
</head>

<body ng-controller="list">
    <h1 style="text-align:center">LIBRARY<br></h1>
    <div id = "commands" class="col-lg-10 col-lg-offset-2">
        <button type="button" id="button_add" class="btn btn-default" ng-click="showAdd()">Add</button> <br/>
        <button type="button" id="button_find" class="btn btn-default">Find</a></button> <br/>
        <button type="button" id="button_delete" class="btn btn-default" ng-click="showDelete()">Delete</a></button>
    </div>

    <!-- add -->
    <div ng-show="AddIsVisible" class= "input_form">
        <form name="myForm" ng-submit="add()">
            <div class="input-prepend">
                <span class="add-on">Title</span>
                <input type=text class="span4" name = title  data-ng-model="book_add.title" data-ng-init="book_add.title=''" placeholder="Book Title...">
            </div> <br/>

            <div class="input-prepend">
                <span class="add-on">Author</span>
                <input type=text class="span4" name = author  data-ng-model="book_add.author" data-ng-init="book_add.author=''" placeholder="Book Author...">
            </div> <br/>

            <div class="input-prepend">
                <span class="add-on">Year</span>
                <input type=text class="span4" name = year  data-ng-model="book_add.year" data-ng-init="book_add.year=''" placeholder="Book Year...">
            </div>
            <br/>
            <div class="input-prepend">
                <span class="add-on">Genre</span>
                <select name = genre1 data-ng-model="book_add.genre1" data-ng-init="book_add.genre1=''">
                    <option value="">--Select Book Genre1--</option>
                    <option value = Horror>Horror</option>
                    <option value = Fantasy>Fantasy</option>
                    <option value = Travel>Travel</option>
                    <option value = Autobiographies>Autobiographies</option>
                </select>
            </div> </br>

            <div class="input-prepend">
                <span class="add-on">Genre</span>
                <select name = genre2 data-ng-model="book_add.genre2" data-ng-init="book_add.genre2=''">
                    <option value="">--Select Book Genre2--</option>
                    <option value = Horror>Horror</option>
                    <option value = Fantasy>Fantasy</option>
                    <option value = Travel>Travel</option>
                    <option value = Autobiographies>Autobiographies</option>
                </select>
            </div> </br>

            <div class="input-prepend">
                <span class="add-on">Genre</span>
                <select name = genre3 data-ng-model="book_add.genre3" data-ng-init="book_add.genre3=''">
                    <option value="">--Select Book Genre3--</option>
                    <option value = Horror>Horror</option>
                    <option value = Fantasy>Fantasy</option>
                    <option value = Travel>Travel</option>
                    <option value = Autobiographies>Autobiographies</option>
                </select>
            </div> </br>

            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default" type="button" ng-click="reset()">Cancel</button>
                <button class="btn btn-primary">Add</button>
            </div>
            </br>
        </form>
    </div>

    <form class="form_info"><button ng-show="ButtonBookAdded" ng-class="getClass(book)" type="button">{{book}}</button></form>

    <!-- find -->
    <div ng-show="FindIsVisible" class= "input_form">
        <form id="find">
            <div class="input-prepend">
                <span class="add-on">ISBN</span>
                <input type=text class="span4" name = isbn  placeholder="Book ISBN...">
            </div> <br/>

            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default" type="button" ng-click="reset()">Cancel</button>
                <button type="button" class="btn btn-primary">Find</button>
            </div>
        </form>
    </div>

    <!-- delete -->
    <div ng-show="DeleteIsVisible" class= "input_form">
        <form name="form" ng-submit="delete()">
            <div class="input-prepend">
                <span class="add-on">ISBN</span>
                <input type=text class="span4" name = isbn data-ng-model="book_delete.isbn" data-ng-init="book_delete.isbn=''" required placeholder="Book ISBN...">
            </div> <br/>

            <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
                <button class="btn btn-primary">Delete</button>
            </div>
            </br>
        </form>
    </div>

    <script src="../js/angular.min.js"></script>
    <script>
        angular.module('admin', [])
                .controller('list', function($scope, $http){
                    $scope.book_add = {};// AngularJS will populate this object with input values based on the data-ng-model mappings.
                    $scope.book_delete = {};
                    $scope.add = function(){
                        $http({
                            method: 'POST',
                            url: 'adder',
                            headers: {'Content-Type': 'application/json'},
                            data:  $scope.book_add
                        }).success(function (data){
                            $scope.AddIsVisible=false;
                            $scope.ButtonBookAdded=true;
                            $scope.book=data;
                        });
                    };

                    $scope.delete = function(){
                        $http({
                            method: 'POST',
                            url: 'deleter',
                            headers: {'Content-Type': 'application/json'},
                            data:  $scope.book_delete
                        }).success(function (data){
                            $scope.DeleteIsVisible=false;
                            $scope.ButtonBookAdded=true;
                            $scope.book=data;
                        });
                    };

                    $scope.getClass = function(string) {
                        return {
                            "alert alert-success": (string.substring(0,4)=="Book"),
                            "alert alert-error": (string.substring(0,5)=="Error")
                        };
                    };

                    $scope.showAdd = function () {
                        $scope.AddIsVisible = true;
                        $scope.DeleteIsVisible = false;
                        $scope.ButtonBookAdded = false;
                    };

                    $scope.showDelete = function () {
                        $scope.DeleteIsVisible = true;
                        $scope.AddIsVisible = false;
                        $scope.ButtonBookDeleted = false;
                        $scope.ButtonBookAdded = false;
                    };

                    $scope.cancel = function () {
                        $scope.book_delete.isbn = "";
                        $scope.form.$setPristine();
                    };

                    $scope.reset = function () {
                        $scope.book_add.title = "";
                        $scope.book_add.author = "";
                        $scope.book_add.year = "";
                        $scope.book_add.genre1 = "";
                        $scope.book_add.genre2 = "";
                        $scope.book_add.genre3 = "";
                        $scope.myForm.$setPristine();
                    };
                });
    </script>
</body>
</html>